.moves-display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.moves-display {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 2.4vw;
  row-gap: 0;
  height: 33.55vw;
  width: 16vw;
  overflow: hidden;
  overflow-y: scroll;
  background-color: rgb(55, 55, 55);
  border-style: solid;
  border-color: rgb(190, 81, 81);
  border-width: 2px;
  margin-bottom: 5px;
}